.template-minimal {
  background-color: black !important;
}

.collection-list__header h1 {
  font-size: 3rem;
  font-weight: 600;
}
.doc-header__title .render-title {
  font-size: 3rem;
  font-weight: 600;
}

.editor-shell .fixed-toolbar {
  z-index: 1 !important;
}
